.advanteges {
  display: flex;
  flex-direction: column;
  padding: 94px 215px 94px 215px;
  padding-bottom: 0px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $secondary-font-color;

.advanteges__svg-list {
  display: flex;
  align-items: center;
  column-gap: 30px;

.advanteges__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: $our-crew-background;

.advanteges__svg {
  height: 70px;
  width: 70px;
}
}
}

.list-of-notes {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

}