.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: var(--black-box-color);
  padding: 200px 452px 200px 452px;
  row-gap: 40px;

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-page/backgroud-picture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.heading__text {
  display: flex;
  justify-content: center;

  flex-wrap: wrap-reverse;
}

.heading__button {
  padding: 10px 41px 10px 42px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.87em;
  background-color: var(--brand-color);
  color: var(--logo-white-font-color);
  cursor: pointer;
}

/*button end*/

/*our-strengths start*/

.advanteges {
  display: flex;
  flex-direction: column;
  padding: 94px 215px 94px 215px;
  padding-bottom: 0px;
  margin: 0 auto;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-font-color);
}

.advanteges__svg-list {
  display: flex;
  padding: 0px;
  justify-content: space-around;
  align-items: center;
  column-gap: 30px;
}
.advanteges__icon1 {
  height: 120px;
  width: 270px;
  background-color: var(--our-crew-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advanteges__icon2 {
  height: 120px;
  width: 270px;
  background-color: var(--our-crew-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advanteges__icon3 {
  height: 120px;
  width: 270px;
  background-color: var(--our-crew-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advanteges__icon4 {
  height: 120px;
  width: 270px;
  background-color: var(--our-crew-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advanteges__svg {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

.notes {
  display: inline-block;
}
.list-of-notes {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding-left: 0;
}

/*our-strengths start*/

/*workscope start*/

.workscope {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
.workscope__list {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding-bottom: 94px;
}

.workscope__computers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 370px;
  height: 294px;
  background-image: url("../images/main-page/n1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.workscope__mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 370px;
  height: 294px;
  background-image: url("../images/main-page/n2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.workscope__graphic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 370px;
  height: 294px;
  background-image: url("../images/main-page/n3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.workscope__gradient {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--logo-white-font-color);
  background-image: linear-gradient(
    to bottom,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
}
.workscope__gradient > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}

/*workscope end*/

/*our strengths and workscope end*/

/*our-crew start*/

.crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--our-crew-background);
}
.crew li {
  display: inline-flex;
  list-style: none;
  align-items: center;
}

.crew__list {
  display: flex;
  flex-direction: row;
}
.crew__card {
  text-align: center;
  margin: 15px;
  margin-bottom: 94px;
  font-size: 16px;
  line-height: 1.37em;
  letter-spacing: 0.03em;
  background: var(--logo-white-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.crew__card-note {
  margin-bottom: 30px;
}

.crew__icons-media {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;

  transition-property: background-color, --color1, --color3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.crew__icons-media:hover {
  background-color: var(--brand-color);
  --color3: var(--logo-white-font-color);
  --color1: var(--logo-white-font-color);
}

.crew__svg-media {
  padding: 11px;
}

/*our-crew end*/

/*Our customers start*/

.clients {
  padding-bottom: 94px;
}
.clients__logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.clients__icons {
  display: inline-flex;
  flex-wrap: wrap;

  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--icon-color);
  fill: var(--icon-color);

  transition-property: fill, border-color, --color1, --color2;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.clients__icons:hover {
  fill: var(--brand-color);
  border-color: var(--brand-color);
  --color1: var(--brand-color);
  --color2: var(--brand-color);
}
